force-app/main/default/flows/CreateForecastSetforRevenueMeasures.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Forecast_Formula_to_Collection</name>
        <label>Add Forecast Formula to Collection</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>CollectionForecastFormulasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForecastFormulaToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Revenue_Forecast_Formula</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Forecast_Formula_to_Collection_0</name>
        <label>Add Forecast Formula to Collection</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>CollectionForecastFormulasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForecastFormulaToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AdvAccountForecastFormula_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>4838</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AdvAcctForecastMeasureDef_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementQuantity_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementRevenue_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrderRevenue_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OrderQuantity_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OpportunityRevenue_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OpportunityQuantity_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ForecastedProfit_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ForecastedGrossMargin_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FixedCost_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Costperunit_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ActualProfit_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ActualGrossMargin_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ActualGrossMargin_Measure</name>
        <label>Create ActualGrossMargin Measure</label>
        <locationX>176</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ActualGrossMargin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MINIMUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ActualGrossMarginPercent__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actual Gross Margin %</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ActualProfit_Measure</name>
        <label>Create ActualProfit Measure</label>
        <locationX>176</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ActualProfit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ActualProfit__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Actual Profit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Costperunit_Measure</name>
        <label>Create Costperunit Measure</label>
        <locationX>176</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Costperunit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AVERAGE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CostPerUnit__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cost per unit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_FixedCost_Measure</name>
        <label>Create FixedCost Measure</label>
        <locationX>176</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FixedCost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MAXIMUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FixedCost__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Cost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ForecastedGrossMargin_Measure</name>
        <label>Create ForecastedGrossMargin Measure</label>
        <locationX>176</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedGrossMargin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MINIMUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedGrossMarginPercent__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forecasted Gross Margin %</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ForecastedProfit_Measure</name>
        <label>Create ForecastedProfit Measure</label>
        <locationX>176</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedProfit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedProfit__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forecasted Profit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OpportunityQuantity_Measure</name>
        <label>Create OpportunityQuantity Measure</label>
        <locationX>176</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OpportunityRevenue_Measure</name>
        <label>Create OpportunityRevenue Measure</label>
        <locationX>176</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opportunity Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OrderQuantity_Measure</name>
        <label>Create OrderQuantity Measure</label>
        <locationX>176</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_OrderRevenue_Measure</name>
        <label>Create OrderRevenue Measure</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OrderRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Quantity_Forecast_Formula</name>
        <label>Create Quantity Forecast Formula</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.EndPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaExpression</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityQuantity + max(LastYearOrderQuantity,OrderQuantity) + 0.8 * SalesAgreementQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.StartPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Forecast_Formula_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Revenue_Forecast_Formula</name>
        <label>Create Revenue Forecast Formula</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.EndPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaExpression</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityRevenue + max(LastYearOrderRevenue,OrderRevenue) + 0.8 * SalesAgreementRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.StartPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Forecast_Formula_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementQuantity_Measure</name>
        <label>Create SalesAgreementQuantity Measure</label>
        <locationX>176</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementRevenue_Measure</name>
        <label>Create SalesAgreementRevenue Measure</label>
        <locationX>176</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_TotalCost_Measure</name>
        <label>Create TotalCost Measure</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TotalCost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TotalCost__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Total Cost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_ForecastedProfit_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To create a forecast dimension on forecast set.</description>
        <name>CreateForecastDimension_Product</name>
        <label>Create Product Forecast Dimension</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastDimName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastDimSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_DefaultForecastDimensionSrc.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.DimensionFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ProductId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.HierarchySequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AdvAcctForecastDimension_collection</targetReference>
        </connector>
    </assignments>
    <description>This flow is to create advance account forecast set data for revenue Measures sample app.</description>
    <environments>Default</environments>
    <interviewLabel>Create Forecast Set for Revenue Measures {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Forecast Set for Revenue Measures</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_AdvAccountForecastFormula_collection</name>
        <label>Insert AdvAccountForecastFormula collection</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Create_TotalCost_Measure</targetReference>
        </connector>
        <inputReference>CollectionForecastFormulasToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAccountForecastPeriod</name>
        <label>Insert AdvAccountForecastPeriod</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Get_DefaultForecastDimensionSource</targetReference>
        </connector>
        <inputAssignments>
            <field>DisplayDuration</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastPeriodGroupId</field>
            <value>
                <elementReference>PeriodGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SequenceNumber</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAccountForecastPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastAdjPeriod</name>
        <label>Insert AdvAcctForecastAdjPeriod</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Quantity_Forecast_Formula</targetReference>
        </connector>
        <inputAssignments>
            <field>AdjustmentDayCount</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdvAccountForecastSetId</field>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency</field>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>SystemAdministratorProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDay</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>AdvAcctForecastAdjPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastDimension_collection</name>
        <label>Insert AdvAcctForecastDimension collection</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_System_Administrator_profile_Id</targetReference>
        </connector>
        <inputReference>DimensionToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastMeasureDef_collection</name>
        <label>Insert AdvAcctForecastMeasureDef collection</label>
        <locationX>176</locationX>
        <locationY>4958</locationY>
        <inputReference>CollectionMeasuresToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastPeriodGroup</name>
        <label>Insert AdvAcctForecastPeriodGroup</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>PeriodGroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_AdvAccountForecastPeriod</targetReference>
        </connector>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>SampleRevenueMeasuresPeriodGroup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastPeriodGroupName</field>
            <value>
                <stringValue>Sample Revenue Measures Period Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Sample Revenue Measures Period Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartPeriod</field>
            <value>
                <numberValue>-6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAcctForecastPeriodGroup</object>
    </recordCreates>
    <recordCreates>
        <name>Inset_AdvAccountForecastSet</name>
        <label>Inset AdvAccountForecastSet</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>ForecastSetId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateForecastDimension_Product</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountFieldName</field>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationFrequency</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Sample forecast set with additional revenue Measures.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>SampleForecastSetwithRevenueMeasures</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastFactObjectName</field>
            <value>
                <stringValue>AdvAccountForecastFact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastPeriodGroupId</field>
            <value>
                <elementReference>PeriodGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastQuantityFieldName</field>
            <value>
                <stringValue>ForecastedQuantity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastRevenueFieldName</field>
            <value>
                <stringValue>ForecastedRevenue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSetFieldName</field>
            <value>
                <stringValue>AdvAcctForecastSetUseId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSetName</field>
            <value>
                <stringValue>Sample Forecast Set with Revenue Measures</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastStatusFieldName</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Sample Forecast Set for Category Hierarchy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodFieldName</field>
            <value>
                <stringValue>PeriodId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RolloverFrequency</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAccountForecastSet</object>
    </recordCreates>
    <recordLookups>
        <description>This node is to get default forecast dimension source.</description>
        <name>Get_DefaultForecastDimensionSource</name>
        <label>Get Product AdvAcctForecastDimSource</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inset_AdvAccountForecastSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DefaultForecastDimensionSource</stringValue>
            </value>
        </filters>
        <object>AdvAcctForecastDimSource</object>
        <outputReference>Product_DefaultForecastDimensionSrc</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>AdvAcctForecastDimSrcName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Administrator_profile_Id</name>
        <label>Get System Administrator profile Id</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_AdvAcctForecastAdjPeriod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>SystemAdministratorProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_AdvAcctForecastPeriodGroup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionForecastFormulasToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAccountForecastFormula</objectType>
    </variables>
    <variables>
        <name>CollectionMeasuresToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastMeasureDef</objectType>
    </variables>
    <variables>
        <name>DimensionToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastDimension</objectType>
    </variables>
    <variables>
        <name>ForecastFormulaToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAccountForecastFormula</objectType>
    </variables>
    <variables>
        <name>ForecastSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeasuretoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastMeasureDef</objectType>
    </variables>
    <variables>
        <name>PeriodGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is to store record from Get Product AdvAcctForecastDimSource.</description>
        <name>Product_DefaultForecastDimensionSrc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastDimSource</objectType>
    </variables>
    <variables>
        <name>SystemAdministratorProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
