force-app/main/default/flows/Install_AAF_Product_Category_Hierarchy_Forecast_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Dimension_to_Collection</name>
        <label>Add Dimension to Collection</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CollectionDimensionsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DimensionToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Category_Dimension</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Dimension_to_Collection_0</name>
        <label>Add Dimension to Collection</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>CollectionDimensionsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DimensionToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AdvAcctForecastDimension_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Forecast_Formula_to_Collection</name>
        <label>Add Forecast Formula to Collection</label>
        <locationX>176</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>CollectionForecastFormulasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForecastFormulaToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Revenue_Forecast_Formula</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Forecast_Formula_to_Collection_0</name>
        <label>Add Forecast Formula to Collection</label>
        <locationX>176</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>CollectionForecastFormulasToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ForecastFormulaToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AdvAccountForecastFormula_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AdjustedForecastedRevenue_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ForecastedQuantity_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementQuantityfromCategories_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementQuantityfromProducts_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3758</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementRevenue_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3998</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementRevenuefromCategories_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>4238</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementRevenuefromProducts_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_AdvAcctForecastMeasureDef_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ForecastedRevenue_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Measure_to_Collection_0_0_0_0_0_0_0_0_0</name>
        <label>Add Measure to Collection</label>
        <locationX>176</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>CollectionMeasuresToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MeasuretoInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_SalesAgreementQuantity_Measure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_AdjustedForecastedQuantity_Measure</name>
        <label>Create AdjustedForecastedQuantity Measure</label>
        <locationX>176</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AdjustedForecastedQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_AdjustedForecastedQuantity__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adjusted Forecasted Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_AdjustedForecastedRevenue_Measure</name>
        <label>Create AdjustedForecastedRevenue Measure</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AdjustedForecastedRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CUSTOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_AdjustedForecastedRevenue__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adjusted Forecasted Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ForecastedQuantity_Measure</name>
        <label>Create ForecastedQuantity Measure</label>
        <locationX>176</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FORMULA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forecasted Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_ForecastedRevenue_Measure</name>
        <label>Create ForecastedRevenue Measure</label>
        <locationX>176</locationX>
        <locationY>2918</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FORMULA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ForecastedRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forecasted Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Parent_Category_Dimension</name>
        <label>Create Parent Category Dimension</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastDimName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Parent Category</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastDimSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCategoryDimensionSourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.DimensionFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_ParentCategory__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.HierarchySequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Dimension_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Product_Category_Dimension</name>
        <label>Create Product Category Dimension</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastDimName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Category</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastDimSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductCategoryDimensionSourceId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.AdvAcctForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.DimensionFieldName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_ProductCategory__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DimensionToInsert.HierarchySequenceNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Dimension_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Quantity_Forecast_Formula</name>
        <label>Create Quantity Forecast Formula</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.EndPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaExpression</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityQuantity + max(LastYearOrderQuantity,OrderQuantity) + 0.8 * SalesAgreementQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.StartPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Forecast_Formula_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Revenue_Forecast_Formula</name>
        <label>Create Revenue Forecast Formula</label>
        <locationX>176</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.EndPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaExpression</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OpportunityRevenue + max(LastYearOrderRevenue,OrderRevenue) + 0.8 * SalesAgreementRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.FormulaType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForecastFormulaToInsert.StartPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Forecast_Formula_to_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementQuantity_Measure</name>
        <label>Create SalesAgreementQuantity Measure</label>
        <locationX>176</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DATA_PROCESSING_ENGINE_DEFINITION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementQuantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Quantity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementQuantityfromCategories_Measure</name>
        <label>Create SalesAgreementQuantityfromCategories Measure</label>
        <locationX>176</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementQuantityfromCategories</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DATA_PROCESSING_ENGINE_DEFINITION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_SalesAgreementQuantityFromCategories__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Quantity from Categories</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementQuantityfromProducts_Measure</name>
        <label>Create SalesAgreementQuantityfromProducts Measure</label>
        <locationX>176</locationX>
        <locationY>3638</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementQuantityfromProducts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DATA_PROCESSING_ENGINE_DEFINITION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_SalesAgreementQuantityFromProducts__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Quantity from Products</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QUANTITY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementRevenue_Measure</name>
        <label>Create SalesAgreementRevenue Measure</label>
        <locationX>176</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DATA_PROCESSING_ENGINE_DEFINITION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Revenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementRevenuefromCategories_Measure</name>
        <label>Create SalesAgreementRevenuefromCategories Measure</label>
        <locationX>176</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementRevenuefromCategories</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DATA_PROCESSING_ENGINE_DEFINITION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_SalesAgreementRevenueFromCategories__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Revenue from Categories</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_SalesAgreementRevenuefromProducts_Measure</name>
        <label>Create SalesAgreementRevenuefromProducts Measure</label>
        <locationX>176</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAccountForecastSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AdvAcctForecastMeasureDefName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesAgreementRevenuefromProducts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.AggregationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ComputationMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DATA_PROCESSING_ENGINE_DEFINITION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastDataMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CH_SalesAgreementRevenueFromProducts__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Agreement Revenue from Products</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.ForecastMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REVENUE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MeasuretoInsert.IsAdjustmentTracked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Measure_to_Collection_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <description>Creates a forecast set record in advance account forecasting settings.</description>
    <interviewLabel>Install AAF Product Category Hierarchy Forecast Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Install AAF Product Category Hierarchy Forecast Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_AdvAccountForecastFormula_collection</name>
        <label>Insert AdvAccountForecastFormula collection</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Create_AdjustedForecastedQuantity_Measure</targetReference>
        </connector>
        <inputReference>CollectionForecastFormulasToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAccountForecastPeriod</name>
        <label>Insert AdvAccountForecastPeriod</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Insert_ParentCategory_AdvAcctForecastDimSource</targetReference>
        </connector>
        <inputAssignments>
            <field>DisplayDuration</field>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastPeriodGroupId</field>
            <value>
                <elementReference>PeriodGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SequenceNumber</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAccountForecastPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastAdjPeriod</name>
        <label>Insert AdvAcctForecastAdjPeriod</label>
        <locationX>176</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Create_Quantity_Forecast_Formula</targetReference>
        </connector>
        <inputAssignments>
            <field>AdjustmentDayCount</field>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AdvAccountForecastSetId</field>
            <value>
                <elementReference>ForecastSetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency</field>
            <value>
                <stringValue>Month</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>SystemAdministratorProfileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDay</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>AdvAcctForecastAdjPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastDimension_collection</name>
        <label>Insert AdvAcctForecastDimension collection</label>
        <locationX>176</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_System_Administrator_profile_Id</targetReference>
        </connector>
        <inputReference>CollectionDimensionsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastMeasureDef_collection</name>
        <label>Insert AdvAcctForecastMeasureDef collection</label>
        <locationX>176</locationX>
        <locationY>4598</locationY>
        <inputReference>CollectionMeasuresToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_AdvAcctForecastPeriodGroup</name>
        <label>Insert AdvAcctForecastPeriodGroup</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignRecordIdToReference>PeriodGroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_AdvAccountForecastPeriod</targetReference>
        </connector>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>CH_SampleCategoryForecastPeriodGroup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastPeriodGroupName</field>
            <value>
                <stringValue>Sample Category Forecast Period Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Sample Category Forecast Period Group</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartPeriod</field>
            <value>
                <numberValue>-6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAcctForecastPeriodGroup</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Category_AdvAcctForecastDimSource</name>
        <label>Insert Category AdvAcctForecastDimSource</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>ProductCategoryDimensionSourceId</assignRecordIdToReference>
        <connector>
            <targetReference>Inset_AdvAccountForecastSet</targetReference>
        </connector>
        <inputAssignments>
            <field>AdvAcctForecastDimSrcName</field>
            <value>
                <stringValue>Category</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>CH_Category</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Category</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceObjectName</field>
            <value>
                <stringValue>ProductCategory</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAcctForecastDimSource</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_ParentCategory_AdvAcctForecastDimSource</name>
        <label>Insert ParentCategory AdvAcctForecastDimSource</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>ParentCategoryDimensionSourceId</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_Category_AdvAcctForecastDimSource</targetReference>
        </connector>
        <inputAssignments>
            <field>AdvAcctForecastDimSrcName</field>
            <value>
                <stringValue>Parent Category</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>CH_ParentCategory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Parent Category</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceObjectName</field>
            <value>
                <stringValue>ProductCategory</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAcctForecastDimSource</object>
    </recordCreates>
    <recordCreates>
        <name>Inset_AdvAccountForecastSet</name>
        <label>Inset AdvAccountForecastSet</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignRecordIdToReference>ForecastSetId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Parent_Category_Dimension</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountFieldName</field>
            <value>
                <stringValue>AccountId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationFrequency</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Used to calculate the forecasted revenue and forecasted quantity for a category and its parent categories in the hierarchy.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeveloperName</field>
            <value>
                <stringValue>CH_SampleForecastSetforCategoryHierarchy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastFactObjectName</field>
            <value>
                <stringValue>AdvAccountForecastFact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastPeriodGroupId</field>
            <value>
                <elementReference>PeriodGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastQuantityFieldName</field>
            <value>
                <stringValue>ForecastedQuantity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastRevenueFieldName</field>
            <value>
                <stringValue>ForecastedRevenue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSetFieldName</field>
            <value>
                <stringValue>AdvAcctForecastSetPartnerId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSetName</field>
            <value>
                <stringValue>Sample Forecast Set for Category Hierarchy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastStatusFieldName</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterLabel</field>
            <value>
                <stringValue>Sample Forecast Set for Category Hierarchy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PeriodFieldName</field>
            <value>
                <stringValue>PeriodId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RolloverFrequency</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </inputAssignments>
        <object>AdvAccountForecastSet</object>
    </recordCreates>
    <recordLookups>
        <name>Get_System_Administrator_profile_Id</name>
        <label>Get System Administrator profile Id</label>
        <locationX>176</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insert_AdvAcctForecastAdjPeriod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>SystemAdministratorProfileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_AdvAcctForecastPeriodGroup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionDimensionsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastDimension</objectType>
    </variables>
    <variables>
        <name>CollectionForecastFormulasToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAccountForecastFormula</objectType>
    </variables>
    <variables>
        <name>CollectionMeasuresToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastMeasureDef</objectType>
    </variables>
    <variables>
        <name>DimensionToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastDimension</objectType>
    </variables>
    <variables>
        <name>ForecastFormulaToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAccountForecastFormula</objectType>
    </variables>
    <variables>
        <name>ForecastSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeasuretoInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AdvAcctForecastMeasureDef</objectType>
    </variables>
    <variables>
        <name>ParentCategoryDimensionSourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PeriodGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCategoryDimensionSourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemAdministratorProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
